<nav>
  <ul>
    <li><a href="/forrest">Forrest Gump</a></li>
    <li><a href="/castaway">Cast Away</a></li>
    <li><a href="/saving">Saving Private Ryan</a></li>
    <li><a href="/terminal">The Terminal</a></li>
  </ul>
</nav>
